.game {
  display: flex;
  height: 100%;
}

.world {
  position: relative;
  width: 600px;
  background-color: #c77a35;
}

.gameinfo {
  width: 200px;
  background-color: #5e1f02;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inventory {
    height: 90%;
  }

  .quit-btn {
    height: 10%;
  }
}
