.game {
  display: flex;
  height: 100%;
}

.world {
  position: relative;
  width: 600px;
  background-color: #c77a35;
}

.gameinfo {
  width: 200px;
  background-color: #5e1f02;
  display: flex;
  flex-direction: column;

  .inventory {
    height: 70%;
  }

  .user-info {
    height: 15%;
  }

  .btn-container {
    display: flex;
    padding: 5px;
    height: 15%;
    flex-direction: column;
    justify-content: flex-end;

    .menu-btn {
      border-radius: 0px;
      font-size: 1.5rem;
      height: 40px;
    }

    .menu-btn:hover {
      background-color: #5e1f02;
    }
  }
}
